<div class="h-14 items-center flex justify-between border-b-4 border-stone-600">
  <div class="text-black text-3xl mx-7 inline-block flex justify-start">
    <h1><a routerLink="">BLOG</a></h1>
  </div>
  <div class="">
    <ul>
      <li
        class="px-8 py-1 rounded-xl items-center"
      >
        <a routerLink="">Home</a>
      </li>
    </ul>
  </div>
  <div class="mx-16">
    <ul class="flex space-x-12">
      <li><a routerLink="register">Register</a></li>
      <li><a routerLink="login">Login</a></li>
    </ul>
  </div>
</div>
